.effect {
    border: 1px solid #ccc;
    padding: 7px 14px;
    
    background: transparent;
    color:black;
}
.avatar {
    height:100px;
  width:100px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.colgap {
  padding-bottom: 30px ;
}
