.heading {
    font-size: 8vw;
    text-align:center;
}

.sub-heading {
 
    
    font-size: 8vw;
    text-align:center;
}
.sub-title {
    text-align: center;
}

.reg-btn {
    
    width: 200px;
    text-align: center;
    display: inline-block;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}
.wrapper {
    text-align: center;
}
