.wishlist-btn{
    font-size: 26px;
}

.notification-btn{
    font-size: 26px;

}

.card{
    padding:40px 0px 10px 10px;
    opacity: 0.9;
}

.card-icon{
    margin-bottom:25px;
    font-size:45px;
}

.card-text{
    font-weight: 450;
    font-size:18px;
    padding-left:5px;
}

ion-card { 
    margin-top:10px !important;
    margin-bottom:10px !important;
    margin-left:10px !important ;
    margin-right: 10px !important;  
}

ion-col{
    padding:0;
}

ion-row{
    margin-left:10px;
    margin-right:10px;
}
